{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@700&display=swap" rel="stylesheet">
{% endblock links %}

{% block style %}
<style>
            .selfhead{
                font-size: 90px;
                font-weight: bolder;
                font-family: 'Baloo Chettan 2', cursive;
            } 
            @media only screen and (max-width:485px){
                .selfhead{
                font-size: 50px;
                font-weight: bold;
            } 
            }
        </style>
{% endblock style %}

{% block title %}E-Books{% endblock title %}

{% block body %}

<!-- ebooks -->
<div class="album py-1 bg-light" id="E-Books">
    <div class="container">
        <div class="selfhead text-center">
            E-Books
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{% static 'images/e_books/1e.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            <a href="/static/books/C++.pdf" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Download</button></a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{% static 'images/e_books/2e.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/static/books/C.pdf" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Download</button></a>
                            </div>
                            <small class="text-muted">15 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{% static 'images/e_books/3e.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/static/books/PHP.pdf" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Download</button></a>
                            </div>
                            <small class="text-muted">25 mins</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{% static 'images/e_books/4e.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/static/books/JS.pdf" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Download</button></a>
                            </div>
                            <small class="text-muted">35 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{% static 'images/e_books/5e.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/static/books/GO.pdf" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Download</button></a>
                            </div>
                            <small class="text-muted">49 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{% static 'images/e_books/6e.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/static/books/PYTHON.pdf" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Download</button></a>
                            </div>
                            <small class="text-muted">55 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            {% if extra_books %}
            {% for book  in extra_books %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="static/media/{{book.image}}" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">{{book.detail}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="static/media/{{book.book}}" %}" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Download</button></a>
                            </div>
                            <small class="text-muted">39 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <span class="placeholder col-12 bg-primary"></span>
            <p class="text-center mt-3 fs-2 fw-bold fst-italic text-decoration-line-through">Login to get more books.</p>
            <p class="text-center"><a href="/login_user"><button type="button" class="btn btn btn-outline-success btn-lg">Login Now</button></a></p>
            {% endif %}
    
        </div>
    </div>
</div>

{% endblock body %}