{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@700&display=swap" rel="stylesheet">
{% endblock links %}

{% block style %}
<style>
    .selfhead {
        font-size: 90px;
        font-weight: bolder;
        font-family: 'Baloo Chettan 2', cursive;
    }

    @media only screen and (max-width:485px) {
        .selfhead {
            font-size: 50px;
            font-weight: bold;
        }
    }
</style>
{% endblock style %}

{% block title %}SignUp{% endblock title %}

{% block body %}

{% if not messages %}
<div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
    <strong>Fill the form to SignUp.</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<div class="container" id="Contact-us">
    <div class="selfhead text-center">
        SignUp
    </div>
    <img src="{% static 'images/login.jpg' %}" class="img-fluid" alt="Responsive image">
</div>

<div class="container my-3">
    <form method="post" action="/create_user_form">
        {%csrf_token%}
        <div class="mb-3">
            <label for="form_name" class="form-label">Your Name</label>
            <input type="text" class="form-control" id="form_name" placeholder="Enter Your Name" name="name">
        </div>
        <div class="mb-3">
            <label for="form_email" class="form-label">Your Email address</label>
            <input type="email" class="form-control" id="form_email" aria-describedby="emailHelp"
                placeholder="Enter Your Email" name="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="form_user" class="form-label">User Name</label>
            <input type="text" class="form-control" id="form_user" aria-describedby="emailHelp" name="username"
                placeholder="Enter Your User Name">
        </div>
        <div class="mb-3">
            <label for="form_pass" class="form-label">Password</label>
            <input type="password" class="form-control" id="form_pass" name="password"
                placeholder="Enter Your Password">
        </div>
        <p class="text-center"><button type="submit" class="btn btn-danger">Submit</button></p>
    </form>
    <p class="text-center"><a href="/login_user"><button class="btn btn btn-outline-success">Already have an account</button></a></p>
</div>


{% endblock body %}